@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rock+Salt|Titillium+Web');
/*font-family: 'Fjalla One', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Rock Salt', cursive;*/

p {
  font-family: 'Titillium Web', sans-serif
}

#main-nav-logo {
  width: 13%;
  padding: 1%;
}



.all-cards{
  width: 100%;
  height: auto;
  background-color: #212121;
}

.footer{
  display: flex;
  text-align: center;
  padding: 20px;
}

body {
  font-family: 'Fjalla One', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #212121;
}

main {
  flex: 1 0 auto;
}
